<div class="filters mb-4 flex gap-4">
  <!-- Filtru pentru status -->
  <select class="border rounded p-2" [(ngModel)]="statusFilter" (change)="onStatusFilterChange($event)">
    <option value="">Toate statusurile</option>
    <option value="scheduled">Scheduled</option>
    <option value="pending">Pending</option>
    <option value="rejected">Rejected</option>
  </select>

  <!-- Filtru pentru materie -->
  <select class="border rounded p-2" [(ngModel)]="examFilter" (change)="onExamFilterChange($event)">
    <option [value]="''">Toate materiile</option>
    <!-- Folosim șir gol pentru a reprezenta "Toate materiile" -->
    <option *ngFor="let exam of exams" [value]="exam.examId">
      {{ exam.class_name }}
    </option>
  </select>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  <div
    *ngFor="let appointment of filteredAppointments"
    class="relative cursor-pointer hover:bg-gray-200 transition-colors duration-300 ease-in-out"
  >
    <mat-card
      class="grow h-48 justify-between"
      (click)="openDialog(appointment)"
      (mousemove)="onMouseMove($event)"
      (mouseleave)="hideTooltip()"
    >
      <mat-card-header class="bg-gradient-to-r from-primary-dark to-primary-darker rounded-lg shadow-md text-white">
        <h4 class="truncate w-full">
          {{ getExam(appointment.examId)?.class_name }}
        </h4>
      </mat-card-header>
      <mat-card-content>
        <span>Status:</span>
        <span
          class="font-semibold text-lg mr-2"
          [ngClass]="{
            'text-green-600': appointment.status.toLowerCase() === 'scheduled',
            'text-yellow-600': appointment.status.toLowerCase() === 'pending',
            'text-red-600': appointment.status.toLowerCase() === 'rejected'
          }"
        >
          {{ getStatusTranslation(appointment.status).toUpperCase() }}
        </span>
      </mat-card-content>
    </mat-card>
    <div
      class="tooltip fixed bg-gray-700 text-white py-1 px-3 rounded shadow-md text-sm"
      *ngIf="showTooltip"
      [style.left.px]="tooltipX"
      [style.top.px]="tooltipY"
    >
      Click pentru mai multe detalii
    </div>
  </div>
</div>
