<main>
  <mat-grid-list cols="3" rowHeight="200px" gutterSize="64px">
    <mat-grid-tile *ngFor="let appointment of appointments" [colspan]="1" [rowspan]="1">
      <mat-card
        class="grow h-48 justify-between cursor-pointer hover:bg-gray-200 transition-colors duration-300 ease-in-out"
        (click)="openDialog(appointment)"
      >

          <mat-card-header class="bg-gradient-to-r from-primary-dark to-primary-darker rounded-lg shadow-md text-white">
            <h4 class="truncate w-full">{{getExam(appointment.examId)?.class_name }}</h4>
          </mat-card-header>
        <mat-card-content>
          <p mat-card-subtitle>{{appointment.startTime | date : "HH:mm"}} - {{appointment.endTime | date : "HH:mm"}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    

  </mat-grid-list>
</main>
