<button 
  (click)="toggleVisibility()" 
  class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-300"
>
  {{ isVisible ? 'Afișează programări' : 'Afișează examene' }}
</button>

<main *ngIf="isVisible">
  <!-- Codul tău HTML pentru examene -->
  <div class="filters mb-4 flex gap-4">
    <select class="border rounded p-2" [(ngModel)]="classFilter" (change)="applyFilters()">
      <option value="">Toate grupele</option>
      <option *ngFor="let classroom of classrooms" [value]="classroom.classroomId">
        {{ classroom.classroomName }}
      </option>
    </select>

    <select class="border rounded p-2" [(ngModel)]="statusFilter" (change)="applyFilters()">
      <option value="">Toate statusurile</option>
      <option value="scheduled">Programat</option>
      <option value="pending">In asteptare</option>
      <option value="rejected">Respins</option>
    </select>
  </div>

  <div *ngIf="filteredExams.length > 0; else noExams" class="grid grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] gap-8 justify-center">
    <div *ngFor="let exam of filteredExams" class="cursor-pointer hover:bg-gray-200 transition-colors duration-300 ease-in-out">
      <mat-card class="w-full" (click)="redirectToExam(exam.examId)">
        <mat-card-header class="bg-gradient-to-r from-primary-dark to-primary-darker rounded-lg shadow-md text-white">
          <h4 class="truncate w-full">{{ exam.class_name }}</h4>
        </mat-card-header>
        <mat-card-content>
          <!-- Detaliile examenului -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-template #noExams>
    <div class="text-center text-gray-500">Nu exista examene disponibile.</div>
  </ng-template>
</main>

<main *ngIf="!isVisible">
  <div *ngIf="appointments.length > 0; else noAppointments" class="grid grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] gap-8 justify-center">
    <div *ngFor="let appointment of appointments" class="cursor-pointer hover:bg-gray-200 transition-colors duration-300 ease-in-out">
      <mat-card class="w-full">
        <mat-card-header class="bg-gradient-to-r from-primary-dark to-primary-darker rounded-lg shadow-md text-white">
          <h4 class="truncate w-full">{{ appointment.appointmentId }}</h4>
        </mat-card-header>
        <mat-card-content>
          <!-- Detaliile examenului -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-template #noAppointments>
    <div class="text-center text-gray-500">Nu exista programari disponibile.</div>
  </ng-template>
</main>