<h3 mat-dialog-title class="text-lg font-bold text-center">Detalii Programare</h3>
<div mat-dialog-content class="bg-gray-100 rounded-lg p-6 mt-4 shadow-inner">
  <div class="grid grid-cols-2 gap-6 text-left bg-white p-4 rounded-lg shadow-md">
    <div class="border-l-4 border-gray-200 pl-2">
      <strong class="text-gray-700 text-sm">Disciplina</strong>
      <span class="block text-gray-900">{{ exam?.class_name || 'N/A' }}</span>
    </div>
    <div class="border-l-4 border-gray-200 pl-2">
      <strong class="text-gray-700 text-sm">Grupa</strong>
      <span class="block text-gray-900">{{ appointment.groupId }}</span>
    </div>
    <div class="border-l-4 border-gray-200 pl-2">
      <strong class="text-gray-700 text-sm">Status</strong>
      <span class="block text-gray-900">{{ appointment.status }}</span>
    </div>
    <div class="border-l-4 border-gray-200 pl-2">
      <strong class="text-gray-700 text-sm">Data</strong>
      <span class="block text-gray-900">{{ appointment.startTime | date: 'dd MMMM yyyy' }}</span>
    </div>
    <div class="border-l-4 border-gray-200 pl-2">
      <strong class="text-gray-700 text-sm">Interval orar</strong>
      <span class="block text-gray-900">{{ getTime(appointment.startTime) }} - {{ getTime(appointment.endTime) }}</span>
    </div>
  </div>
</div>

<div mat-dialog-actions class="flex justify-around gap-32 mt-7">

  <button
    mat-button
    (click)="onAccept()"
    [disabled]="appointment.status === 'scheduled' || appointment.status === 'rejected'"
    class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg shadow hover:bg-green-600 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Acceptă
  </button>

  <button
    mat-button
    (click)="onReject()"
    [disabled]="appointment.status === 'scheduled' || appointment.status === 'rejected'"
    class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow hover:bg-red-600 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Respinge
  </button>
</div>
