<div *ngIf="!isServer">
  <div class="flex justify-center items-center">
    <div class="p-8">
      <div *ngIf="isAuthenticated(); else loginForm" class="text-center">
        <h1 class="!font-bold text-primary-darker">Sunteti deja autentificat!</h1>
        <h4>Doriti sa va delogati?</h4>
        <div class="space-y-4 mt-8">
          <button
            mat-raised-button
            color="warn"
            class="!bg-red-600 !text-white hover:!bg-red-700 focus:!ring-2 focus:!ring-red-600 w-full max-w-xs !mx-auto !h-14 !text-lg !block"
            (click)="onLogout()"
          >
            Delogare
          </button>

          <button
            mat-raised-button
            color="primary"
            class="!bg-primary-dark !text-white hover:!bg-primary-darker focus:!ring-2 focus:!ring-primary-dark w-full max-w-xs !mx-auto !h-14 !text-lg !block"
            (click)="onContinue()"
          >
            Continua spre site
          </button>
        </div>

        <div *ngIf="errorMessage" id="errorMessage" class="mt-4 text-red-600 text-center text-sm">
          {{ errorMessage }}
        </div>
      </div>

      <ng-template #loginForm>
        <div class="text-center mb-8">
          <h1 class="!font-bold text-primary-darker">Intra in contul tau</h1>
        </div>

        <form class="flex flex-col items-center gap-3" (ngSubmit)="onLogin()">
          <mat-form-field class="w-full max-w-sm">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required />
          </mat-form-field>

          <mat-form-field class="w-full max-w-sm">
            <mat-label>Parola</mat-label>
            <input
              matInput
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Parola"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="!bg-primary-dark !text-white hover:!bg-primary-darker focus:!ring-2 focus:!ring-primary-dark w-full max-w-xs !mx-auto !h-14 !text-lg !block"
            type="submit"
          >
            Autentificare
          </button>
        </form>
        <button
          (click)="handleGoogleLogin()"
          mat-raised-button
          color="primary"
          class="!bg-primary-dark !text-white hover:!bg-primary-darker focus:!ring-2 focus:!ring-primary-dark w-full max-w-xs mt-3 !mx-auto !h-14 !text-lg !block"
        >
          Autentificare cu Google
        </button>

        <div *ngIf="errorMessage" id="errorMessage" class="mt-4 text-red-600 text-center text-sm">
          {{ errorMessage }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
