@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-bar-success {
  background-color: #4caf50 !important; /* Verde */
  color: #ffffff !important; /* Text alb */
  border-radius: 4px; /* Opțional */
}

.snack-bar-error {
  background-color: #f44336 !important; /* Roșu */
  color: #ffffff !important; /* Text alb */
  border-radius: 4px; /* Opțional */
}

::ng-deep .snack-bar-success {
  background-color: #4caf50 !important;
  color: #ffffff !important;
}

::ng-deep .snack-bar-error {
  background-color: #f44336 !important;
  color: #ffffff !important;
}
